.contact-page-container {
  height: 100vh;
  width: 100%;
  background: #92d7ef;
  display: flex;
  align-items: center;
  justify-content: center;

  .contact-page-container-2 {
    height: 100vh;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(50px);

    .contact-container {
      height: 55%;
      width: 30%;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .so-text {
        font-family: 'Lato';
        font-size: 1.2rem;
        font-weight: 400; 
        transform: translateY(30px);
        opacity: 0;
      }

      .contact-text {
        font-family: 'Playfair Display', serif;
        font-weight: 900;
        font-size: 4rem;
        width: 400px;
        padding-bottom: 25px;
        transform: translateY(30px);
        opacity: 0;
      }

      .contact {
        height: 50px;
        margin: 10px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-decoration: none;
        color: black;
        position: relative;
        transform: translateY(30px);
        opacity: 0;
        cursor: pointer;
        

        .icon,
        .right-icon {
          font-size: 1.5em;
          width: 10%;
        }
        
        .the-contact {
          font-family: 'Lato';
          font-size: 1.1rem;
          width: 200px;
          text-align: center;
        }

      }
    }

    img {
      height: auto;
      width: 70%;
      transform: translateX(50px);
      opacity: 0;
    }
  }
}


/* Media Queries: iPad Pro Landscape */
@media screen and (max-width: 1400px) and (min-width: 1060px) {
}

@media screen and (max-width: 1060px) and (min-width: 769px) {
  .contact-page-container {
    .contact-page-container-2 {
      width: 70%;
    }
  }
}

/* Media Queries: Tablet Portrait */
@media screen and (max-width: 768px) and (min-width: 430px) {
 .contact-page-container {
   .contact-page-container-2 {
     width: 90%;
   }
 }
}

/* Media Queries: iPhone X and lower*/
@media screen and (max-width: 430px) {
  .contact-page-container {
    .contact-page-container-2 {
      width: 90%;
      flex-direction: column-reverse;
      transform: translateX(0);

      .contact-container {
        height: 50%;
        width: 100%;

        .contact-text {
          font-size: 3.5rem;
        }
      }

      img {
        width: 90%;

      }
    }
  }
}