.tech-page-container {
  height: 40vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;

  .tech-page-container-2 {
    height: 100%;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;

    .tech-text {
      height: 100%;
      width: 50%;
      font-family: "Playfair Display", serif;
      font-weight: 900;
      font-size: 3.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      transform: translateX(-50px);
      opacity: 0;
    }

    .tech-logo-container {
      height: 250px;
      width: 600px;

      display: flex;
      flex-direction: column;

      .tech-logo-container-top,
      .tech-logo-container-bottom {
        height: 50%;
        width: 100%;
        display: flex;
        transform: translateY(50px);
        opacity: 0;

        .logo {
          width: 25%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;

          img {
            height: auto;
            width: 100px;
          }
        }
      }
    }
  }
}

/* Media Queries: iPad Pro Landscape */
@media screen and (max-width: 1400px) and (min-width: 1060px) {
  .tech-page-container {
    .tech-page-container-2 {
      width: 80%;
    }
  }
}

//iPad tablet landscape
@media screen and (max-width: 1060px) and (min-width: 769px) {
  .tech-page-container {
    .tech-page-container-2 {
      width: 80%;
      flex-direction: column;

      .tech-text {
        width: 600px;
      }
    }
  }
}

/* Media Queries: Tablet Portrait */
@media screen and (max-width: 768px) and (min-width: 430px) {
  .tech-page-container {
    .tech-page-container-2 {
      width: 80%;
      flex-direction: column;

      .tech-text {
        width: 550px;
        margin: 5% 0;
      }
    }
  }
}

//iPad tablet landscape
@media screen and (max-width: 1024px) and (max-height: 768px) {
}

@media screen and (max-width: 430px) {
  .tech-page-container {
    .tech-page-container-2 {
      width: 90%;
      flex-direction: column;

      .tech-text {
        font-size: 2.5rem;
        width: 90%;
      }

      .tech-logo-container {
        width: 350px;
        height: 200px;

        .tech-logo-container-top,
        .tech-logo-container-bottom {
          .logo {
            img {
              width: 70px;
            }
          }
        }
      }
    }
  }
}
